.App {
  text-align: center;
  font-size: 16px;
}
@font-face {
  font-family: 'Lexend-Regular';
  src: url('../src/fonts/Lexend-Regular.ttf') format('truetype');
}
nav{
  display: flex;
  flex-direction: row;
  background-color: rgba(135, 212, 135, 0.166);
  color: white;
  padding: 0.6rem 2em 0.6em 8em;
  max-height: 16.25rem;
  border-radius: 1.2em;
  margin: 0.4em;
  box-shadow: rgba(252, 251, 251, 0.348) 0.2rem 0.125rem 0.125rem;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}
.nav-bar{
  display: flex;
  flex-direction: row;
  gap: 5em;
}
.nav-bar .Movies{
  cursor: pointer;
}
.nav-bar .Watchlist{
  cursor: pointer;  
}
.search-btn{
  display: flex;
  gap: 2em;
  flex-direction: row;
  align-items: flex-end;
}
.search-bar{
  display: flex;
  flex-direction: row;
  width: 15em;
  height: 2em;
  padding: 0em 0em 0em 0.2em;
  border-radius: 0.8em;
  background-color: #417a4b;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}
.search-bar:hover{
  box-shadow: rgba(0, 0, 0, 0.348) 0.2rem 0.125rem 0.125rem;
}
#search{
  width: 15em;
  height: 1.5em;
  background-color: #ffffff00;
  border: 0em;
}
#search::placeholder{
  position: relative;
  top: 0.2em;
  left: 0.2em;
  color: #ffffff;
  font-size: 1.2em;
  border: 0em;
}
#search:focus{
  outline: none;
  color: #ffffff;
}
.btn{
  width: 5em;
  height: 2em;
  align-content: center;
  background-color:  #417a4b;
  border-radius: 0.8em;
}
.btn:hover{
  box-shadow: rgba(82, 119, 85, 0.348) 0.2rem 0.125rem 0.125rem;
  cursor: pointer;
}
main{
  min-height: 30em;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    background-color: rgba(38, 115, 38, 0.847);
    border-radius: 1em;
    margin: 0.4em;
    box-shadow: rgba(10, 35, 1, 0.348) 0.5rem 0.2rem 0.2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.movie-list{
  display: inline-flex;
  gap: 0.3em;
  justify-content: flex-start;
  align-items: start;
  justify-items: start;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
.mv-card{
  max-width: 10em;
  max-height: 15em;
  font-weight: 100;
  background-color: #283a2b;
  color: #ffffff;
  border-radius: 0.4em;
  padding: 1em;
  margin: 1em;
}
.mv-card:hover{
  box-shadow: rgba(0, 0, 0, 0.348) 0.3rem 0.2rem 0.2rem;
  cursor: pointer;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
